<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <form class="container-fluid justify-content-start">
      <!-- Main button with right margin -->
      <button class="btn btn-outline-success me-3" type="button">Blogify</button>
      
      <!-- Smaller button with right margin -->
      <button class="btn btn-sm btn-outline-secondary me-3" type="button">Home</button>
      <% if (locals.user) { %>
        <button class="btn btn-sm btn-outline-secondary me-3" type="button" ><a class="dropdown-item" href="/blog/add-new" >Add Blog</a></button>
         <div class="dropdown me-3">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Akash yadav
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
        </ul>
      </div>
      
      <% } else {%>
 <button class="btn btn-sm btn-outline-secondary me-3" type="button" ><a class="dropdown-item" href="/user/signin" >Signin</a></button>
  <button class="btn btn-sm btn-outline-secondary me-3" type="button" ><a class="dropdown-item" href="/user/signup" >Create Account</a></button>
        <% } %>
      
     
    </form>
  </nav>

  <% if (locals.error) { %>
    <div class="container mt-4">
    <div class="alert alert-danger" role="alert">
     <%= locals.error %>
    </div>
  </div>
  <% } %>